<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pinterest Brick Layout</title>
  <link rel="stylesheet" href="/stylesheets/feedPage.css">
</head>
<body>

  <%- include("partials/header") %>

  <!-- ===== IMAGES MASONRY GRID ===== -->
  <div class="masonry">

<div class="masonry-item">
  <div class="masonry-item">
  <img src="https://iili.io/FBPwmYu.jpg" alt="Sidhu Moose Wala 5">
</div>
  <img src="https://iili.io/FBPdVQj.jpg" alt="Sidhu Moose Wala 2">
</div>
<div class="masonry-item">
  <img src="https://iili.io/FBPQDkx.jpg" alt="Sidhu Moose Wala 7">
</div>
    <div class="masonry-item"><img src="https://picsum.photos/id/101/300/380" alt=""></div>
    
    <div class="masonry-item"><img src="https://picsum.photos/id/102/300/500" alt=""></div>
    <div class="masonry-item"><img src="https://picsum.photos/id/103/300/350" alt=""></div>

    <div class="masonry-item"><img src="https://picsum.photos/id/105/300/300" alt=""></div>
    <div class="masonry-item"><img src="https://picsum.photos/id/106/300/390" alt=""></div>
    <div class="masonry-item"><img src="https://picsum.photos/id/107/300/410" alt=""></div>
    <div class="masonry-item"><img src="https://picsum.photos/id/108/300/460" alt=""></div>
    <div class="masonry-item"><img src="https://picsum.photos/id/109/300/370" alt=""></div>
  </div>

</body>
</html>